@import "tailwindcss";

/* Seu estilo customizado do <style> no final do componente */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
    display: flex;
    width: max-content;
    animation: scroll 55s linear infinite;
}

.animate-infinite-scroll:hover {
    animation-play-state: paused;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fadeIn 0.2s ease-out forwards;
}